.footer-main{
    background-color: #000000;
    padding: 48px 0 24px;
    .wrap{
        display: grid;
        grid-template-columns: 400px 1fr 1fr;
        grid-gap: 64px;
    }
    .copyright{
        font-size: 14px;
        line-height: 125%;
        color: #61738e;
        font-weight: 400;
        text-align: center;
        margin-top: 24px;
        padding-top: 24px;
        border-top: 1px solid #313d50;
    }
    ._left{
        img{
            height: 60px;
            width: auto;
            display: block;
        }
        .note{
            font-size: 16px;
            line-height: 148%;
            color: #a5a5a5;
            font-weight: 400;
            margin-top: 16px;
        }
    }
    ._center, ._right{
        h3{
            font-size: 18px;
            font-weight: 700;
            line-height: 22px;
            color: #FFFFFF;
            margin: 0 0 24px;
        }
        .list-menu{
            a{
                display: block;
                font-size: 16px;
                line-height: 125%;
                font-weight: 400;
                color: #FFFFFF;
                &:not(:last-child){
                    margin-bottom: 12px;
                }
                &:hover{
                    color: #fdc113;
                }
            }
        }
    }

    @media (max-width: 767.98px){
        .wrap{
            display: flex;
            flex-wrap: wrap;
            grid-gap: inherit;
        }
        ._left{
            margin-bottom: 24px;
        }
        ._center{
            width: 50%;
        }
        ._right{
            width: 50%;
        }
    }
}